@font-face {
  font-family: "Avenir";
  src: url(./assets//fonts/Avenir-Book.ttf);
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-family: Avenir;
  color: #3B6D53;
}

.root header {
  background-image: url(./assets/images/bg1.png);
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root header img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.root header div:nth-child(2) {
  text-align: center;
  font-size: 1.8em;
  color: #A6CCB8;
  padding: 2%;
}

.root footer {
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root footer i {
  font-size: 1.5rem;
  padding: 1.5rem;
  cursor: pointer;
}

.root footer a {
  text-decoration: none;
  color: black;
}

.root footer a:hover i {
  color: #677381;
}

.root .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

.root .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

.root .skills .skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1%;
}

.root .skills .skill-container .name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 10%;
}

.root .skills .skill-container .value-container {
  width: 80%;
  background-color: #ddd;
}

.root .skills .skill-container .value {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
}

.root .skills .javascript {
  width: 70%;
  background-color: #4CAF50;
}

.root .skills .java {
  width: 65%;
  background-color: #666AC6;
}

.root .skills .react {
  width: 70%;
  background-color: #66C6BF;
}

.root .skills .angular {
  width: 50%;
  background-color: #D265A0;
}
/*# sourceMappingURL=style.css.map */