<!-- <div class="col-xs-12 col-sm-6 col-lg-4 pt-2">
   <a class="skill-card-link" href="{{ if .url }}{{ .url }}{{ else }}#{{ end }}">
        <div class="card">
            <div class="card-head d-flex">
                {{ if .icon }}
                <img class="card-img-xs" src="{{ .icon }}" alt="{{ .name }}" />
                {{ end }}
                <h5 class="card-title">{{ .name }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ .summary | markdownify }}</p>
            </div>
        </div>
    </a> 
</div> -->
<!-- 
<div class="skills">
    <div class="skill-container">
        <div class="name">Javascript</div>
        <div class="value-container skill-anim" data-delay="0s">
            <div class="value javascript skill-anim" data-delay="0.3s">70%</div>
        </div>
    </div>
    <div class="skill-container">
        <div class="name">Java</div>
        <div class="value-container skill-anim" data-delay="0s">
            <div class="value java skill-anim" data-delay="0.3s">65%</div>
        </div>
    </div>
    <div class="skill-container">
        <div class="name">React</div>
        <div class="value-container skill-anim" data-delay="0s">
            <div class="value react skill-anim" data-delay="0.3s">80%</div>
        </div>
    </div>
    <div class="skill-container">
        <div class="name">Angular</div>
        <div class="value-container skill-anim" data-delay="0s">
            <div class="value angular skill-anim" data-delay="0.3s">50%</div>
        </div>
    </div>
    <div class="skill-container">
        <div class="name">Node</div>
        <div class="value-container skill-anim" data-delay="0s">
            <div class="value node skill-anim" data-delay="0.3s">50%</div>
        </div>
    </div>
    <div class="skill-container">
        <div class="name">Linux</div>
        <div class="value-container skill-anim" data-delay="0s">
            <div class="value linux skill-anim" data-delay="0.3s">70%</div>
        </div>
    </div>
</div> -->