.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0%;
}
.skills .skill-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1%;
}
.skills .skill-container .name {
  align-self: center;
  width: 10%;
}

.skills .skill-container .value-container {
  width: 90%;
  height: 30px;
  background-color: white;
}

.skills .skill-container .value {
  text-align: right;
  padding-top: 2px;
  font-size: 0.8rem;
  color: white;
}
.skills .javascript {
  width: 70%;
  height: 30px;
  background-color: #4caf50;
}
.skills .java {
  width: 65%;
  height: 30px;
  background-color: #666ac6;
}
.skills .react {
  width: 70%;
  height: 30px;
  background-color: #66c6bf;
}
.skills .rust {
  width: 60%;
  height: 30px;
  background-color: #d265a0;
}
.skills .node {
  width: 50%;
  height: 30px;
  background-color: #5087cf;
}
.skills .linux {
  width: 70%;
  height: 30px;
  background-color: #d3a62c;
}

@media screen and (max-width: 550px) {
  .skills .skill-container {
    flex-direction: column;
  }
  .skills .skill-container .value-container {
    width: 100%;
  }
  .skills .skill-container .name {
    width: 100%;
    padding: 1%;
  }
}
