{{ $sectionID := replace (lower .section.name) " " "-" }} {{ if .section.id }}
{{ $sectionID = .section.id }} {{ end }}
<div class="container about-section" id="{{ $sectionID }}">
  <div class="row p-3 pt-sm-12 pt-md-12 align-self-center align-items-center">
    <!-- summary -->
    <div class="col-md-6 p-2">
      <h3 class="p-1">{{ site.Params.author.name }}</h3>
      {{ if .designation }}
      <h5 class="p-1">{{ .designation }}</h5>
      {{ end }}
      <p class="p-1 text-justify">{{ .summary | markdownify }}</p>
      <div class="text-container ml-auto">
        <ul class="social-link d-flex">
          {{ range .socialLinks }}
          <li>
            {{ if eq .name "Email" }}
            <a href="mailto:{{ .url }}" target="_blank"
              ><i class="{{ .icon }}"></i
            ></a>
            {{ else }}
            <a href="{{ .url }}" target="_blank"><i class="{{ .icon }}"></i></a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
      {{ if .resume }}
      <a href="{{ .resume| absURL  }}" target="_blank"
        ><button class="btn btn-dark">{{ i18n "resume"}}</button></a
      >
      {{ end }}
    </div>
    <!-- <div class="col-md-6 p-2 d-flex justify-content-center"> -->
      <!-- <div
        class="LI-profile-badge"
        data-version="v1"
        data-size="large"
        data-locale="en_US"
        data-type="horizontal"
        data-theme="dark"
        data-vanity="sarru1291"
      >
        <a
          class="LI-simple-link"
          target="_blank"
          href="https://in.linkedin.com/in/sarru1291?trk=profile-badge"
        >
          Sarvottam Kumar
        </a>
      </div> -->
      <img class="col-md-6 p-2 d-flex justify-content-center" src="https://github-readme-stats.vercel.app/api?username=sarru1291&show_icons=true&hide_border=true&theme=radical" alt="Sarvottam Kumar GitHub Contribution"/>
    <!-- </div> -->
  </div>
</div>
