<div class="container about-section" id="{{ replace (lower .section.name) " " "-" }}">
    <div class="row p-5 pt-sm-12 pt-md-12 align-self-center">
        <!-- summary -->
        <div class="col-sm-12">
            <h3 class="p-1">{{ site.Params.author.name }}</h3>
            {{ if .designation }}
            <h5 class="p-1">
                {{ .designation }}
                <!-- {{ if .company }}
                at <a href="{{ .company.url }}">{{ .company.name }}</a>
                {{ end }} -->
            </h5>
            {{ end }}
            <p class="p-1 text-justify">
                {{ .summary | markdownify }}
            </p>
            <div class="text-container ml-auto">
                <ul class="social-link d-flex">
                    {{ range .socialLinks }}
                    <li>
                        {{ if eq .name "Email" }}
                        <a href="mailto:{{ .url }}" target="_blank"><i class="{{ .icon }}"></i></a>
                        {{ else }}
                        <a href="{{ .url }}" target="_blank"><i class="{{ .icon }}"></i></a>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ if .resume }}
            <a href="{{ .resume }}" target="_blank"><button class="btn btn-dark">My Resume</button></a>
            {{ end }}
        </div>
        <!-- soft skills circular-progressbar -->
        <!-- <div class="col-sm-6 pt-5 pl-md-4 pl-sm-3 pt-sm-0">
            <div class="row">
                {{ range .softSkills }}
                {{ partial "misc/soft-skills.html" . }}
                {{ end }}
            </div>
        </div> -->
    </div>
</div>